.containerMobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
}

.inboxMobile {
  width: 100vw;
}

.stream {
  flex-grow: 1;
}

.compose {
  flex-basis: 200px;
  flex-shrink: 0;
}

.composeMobile {
  flex-basis: 40px;
  flex-shrink: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}
