.container{
  padding-bottom: 12px;
  position: relative;
}

.containerMobile {
  display: flex;
  align-items: center;
}

.mention {
  height: 100%;
  width: 100%;
}

.mentionMobile {
  flex-grow: 1;
  }

.container textarea {
  height: 100%;
  padding-right: 68px;
}

.send {
  position: absolute;
  bottom: 24px;
  right: 12px;
}

.upload {
  position: absolute;
  bottom: 80px;
  right: 12px;
}

.uploadMobile {
  flex-shrink: 0; 
}

.sendMobile {
  flex-shrink: 0; 
}

.back {
  flex-shrink: 0;
}
