.listContainer {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 260px;
}

.item {
  background-color: white;
  padding: 4px 12px;
  cursor: pointer;
  position: relative;
}

.itemName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemPreview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


