.container {
  overflow-y: auto;
  padding-bottom: 36px;
}

.stream {
  border-left: 1px solid #EEF1F4;
}

.metaMine {
  flex-direction: row-reverse;
}

.textMine {
  display: flex;
  justify-content: flex-end;
}

.avatarMine {
  margin-left: 16px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
